/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}


#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    
    height: 100%;
}

#navbar::before{
    content: '';
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4
}

/* logo */

#logo {

    margin: 2px;

}

#logo img {
    height: 40px;
    margin: 5px;
}

#navbar ul {
    display: flex;

}

#navbar ul li {

    list-style: none;
    font-size: 1rem;
}

#navbar ul li a {
    /* display: block; */
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar ul li a:hover {

    color: aqua;

}

/* home section */

#home{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 50px 150px;
}

/* background image */


#home::before{
    content: '';
    position: absolute;
    background: url(../bg1.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1{
    color: white;
    font-size: 4rem;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: cursive;
    margin: 10px;
    text-shadow: 2px 2px 10px black;
    transition: all .3s;
}
#home h1:hover{
  color: rgb(33, 255, 185);
    cursor: pointer;
    transform: scale(1.1);
}
#home p{

    color: white;
    font-size: 1.5rem;
    font-family: cursive;
    margin: 10px;
    text-shadow: 2px 2px 10px black;
}

#btn{
background-color: rgb(255, 255, 255);
padding: 5px 20px;

box-shadow: 5px 10px 10px black;
border-radius: 10px;
position: relative;
top: 20px;
font-family: cursive;
transition: all .3s;
}

#btn:hover{

    background-color: rgb(33, 255, 185);
    cursor: pointer;
    transform: scale(1.1);
}



.services-container{

    margin-top: 90px;
    margin-bottom: 75px;
}
.services-container > h1{
    box-shadow: .5px .5px 5px gray;
}

#services{
    margin: 40px;
    display: flex;

}
#services .box{
    border:solid 1px black;
    
    align-items: center ;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 30px;
    background-color: aliceblue;
    box-shadow: 7px 7px 10px black;
    transition: all .5s;
    
    
    
}
#services .box:hover{
    background-color: rgb(255, 204, 197);
    transform: scale(1.03);
}
#services .box img{
    
    display: block;
    margin: auto;
    
    height: 100px;
    
}

.h-primary{
    font-size: 3rem;
    text-align: center;
}
.h-secondary{
    font-size: 2rem;
    text-align: center;
    padding: 15px;
    

}
#services p{
    text-align: center;
    padding: 10px;
}

#client-section{

    box-shadow: 2px 2px 15px black;
}
.clients{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    
}
.client-items{
    padding: 0px 40px;
}

.client-items img{
    height: 50px;
    transition: all .3s;
}
.client-items img:hover{
    transform: scale(1.2);
}

#client-section::before{

    content: "";
    background: url(../bg.jpg) no-repeat center center/cover;
    
    position: absolute;
    height: 30%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;

}



#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family:cursive;

}


/* #contact-box{

    display: flex;
    justify-content: center;

}
.form-group{

    margin: 10px;
} */
#contact h1{

    padding: 20px;
}

#contact::before{
    content: "";
    position: absolute;
    background: url(../contact.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#copyright{

    display: flex;
    justify-content: center;
    margin: 100px 0px;}

